// Mixins Here
.testBorder(@color) {
    border: 1px solid @color;
}

.flexPositioning(@direction){
    display: flex;
    flex-flow: @direction wrap;
}

.paddingElementary() {
    padding: 15px;
}

.elementaryButton(@width, @color) {
    width: @width;
    font-size: 1.8rem;
    padding: 8px 10px;
    border-radius: 5px;
    color: white;
    background-color: @color;
    text-align: center;
}